.failed-box,
.success-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0.5rem;

}
.failed-box p,
.success-box p{
    font-weight: bold;
}

.failed-box p+p,
.success-box p+p{
    margin-top: 1rem;
}